* {
    font-family: Georgia;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #BA6B6C;
    color: white;
    padding: 7px;
}

.left-container, .right-container {
    background-color: #EF9A9A;
    width: 20%;
    height: 500px;
}

.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: MistyRose;
    width: 60%;
    height: 500px;
}

.imgs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.imgs-container img {
    width: calc(25%);
}

.data-container {
    background-color: mistyrose;
    padding: 50px;
}

ol {
    list-style-type: upper-roman;
}

li {
    text-align: left;
}

h2::first-letter {
    font-size: 170%;
    color: maroon;
}

table {
    margin: auto;
    width: 80%;
    border: 1px solid maroon;
}

img {
    height: 120px;
    margin: 7px;
    box-shadow: 7px 7px 7px dimgray;
}

main {
    display: flex;
    width: 100%;
}