* {
    font-family: Verdana;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
}

main {
    display: flex;
    flex-wrap: wrap;
}

header > section {
    background-color: #6F79A8;
    color: white;
    height: 140px;
}

.first-header-block {
    width: 30%;
}

.second-header-block {
    width: 70%;
}

footer {
    background-color: #6F79A8;
    color: white;
    padding: 5px;
    text-align: right;
}

h6 {
    text-align: center;
}

.calendar-block {
    background-color: #9FA8DA;
    width: 160px;
    height: 85px;
    margin: 5px;
    border: 1px solid #6F79A8;
    overflow: hidden; 
}

.calendar-block:hover {
    background-color: #6F79A8;
    color: white;
}